@charset "UTF-8";
/* Aqui preparamos las custom properties */
:root {
  --negro: #515151;
  --blanco: #ececec;
  --azul: #165cef;
  --borde-banco: #ffffff;
  --borde-gris: #606060;
  /* Tipografia */
  --tipo-principal: "Montserrat", sans-serif;
  --tipo-title: "Bebas Neue", cursive;
  --tipo-footer: "Redacted", cursive;
  /* Tamaño Tipografia */
  --size-title: 1.85em;
}

/* Las adaptamos al modo oscuro */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
  vertical-align: baseline;
}

img {
  max-width: 100%;
  width: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

video {
  max-width: 100%;
  width: 100%;
}

p a {
  display: inline;
}

li {
  list-style-type: none;
}

table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

form, input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
}

body {
  font-family: var(--tipo-principal);
  font-size: 100%;
  line-height: 1.4em;
  min-height: 100vh;
  background: var(--negro) url(../../assets/bg.png);
  color: var(--blanco);
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  font-smooth: always;
  -webkit-font-smooth: always;
  -moz-font-smooth: always;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

.header {
  width: 100%;
  font-size: var(--size-title);
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__nav {
  font-family: var(--tipo-title);
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__li {
  margin: 0 1em;
}
.header__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__rs {
  margin: 0 1em;
}
.header__svg {
  width: 2em;
  height: 2em;
}
.ppal {
  width: 100%;
  padding: 3.1rem 0;
  background: radial-gradient(49.74% 186.57% at 49.74% 46.1%, rgba(22, 92, 239, 0.42) 53.65%, rgba(29, 94, 232, 0) 100%);
}
.ppal__h3 {
  font-family: var(--tipo-title);
  font-size: var(--size-title);
}
.ppal__h2 {
  font-family: var(--tipo-title);
  font-size: var(--size-title);
}
.ppal__iframe {
  width: 100%;
  min-height: 35vw;
}
.ppal__button {
  background: var(--azul);
  border-radius: 2em;
  margin: auto;
  padding: 1em 2em;
  color: var(--blanco);
  font-family: var(--size-title);
  font-size: var(--size-title);
}

.extras {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.extras_col {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.extras__h2 {
  margin: 0 0 1.75rem;
  font-family: var(--tipo-title);
}
.extras__p {
  margin: 0 0 2.56rem;
}
.extras__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.extras__img {
  min-height: 10rem;
  border-radius: 50%;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__row {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__dl {
  margin: 0 1em;
}
.footer__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__li {
  margin: 0 1rem 0 0;
}
.footer__svg {
  width: 3.5rem;
  height: 3.5rem;
}
.footer__span {
  display: none;
}
.footer__extra {
  font-family: var(--tipo-footer);
}
.footer__extra.active {
  font-family: var(--tipo-principal);
}