@charset "UTF-8";
/* Aqui preparamos las custom properties */
:root {
  --negro: #515151;
  --blanco: #ececec;
  --azul: #165cef;
  --borde-banco: #ffffff;
  --borde-rgba: rgba(255, 255, 255, 0.2);
  --borde-gris: #606060;
  /* Tipografia */
  --tipo-principal: "Montserrat", sans-serif;
  --tipo-title: "Bebas Neue", cursive;
  --tipo-footer: "Redacted", cursive;
  /* Tamaño Tipografia */
  --size-title: 1.85rem;
  --size-h2: 4.3rem;
  --size-h3: 2.5rem;
}

/* Las adaptamos al modo oscuro */
/*

  Con este reset vamos a resolver:
    👉 Unificar el uso de Custom Properties
    👉 Problemas de box-model más generales
    👉 Problemas con imagenes, vídeos e iconos svg
    👉 Problemas con tipografías y etiquetas input en formularios
    👉 Unificar la tipografía de todas las etiquetas de una web
*/
/* Aquí definimos las Custom properties */
:root {
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* Opcional */
/* Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* Opcional */
/* Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
  background: var(--negro) url("../../assets/bg.png");
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--blanco);
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: always;
  /* opcional */
  -moz-osx-font-smoothing: always;
}

.wrapper {
  width: 90%;
  max-width: 1300px;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .wrapper {
    padding: 0 2em;
  }
}

.header {
  width: 100%;
  padding: 1.4em 0;
  font-size: var(--size-title);
}
@media screen and (max-width: 900px) {
  .header {
    padding: 1em 0;
  }
}
.header .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .header .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header__logo {
  max-width: 7em;
}
.header__nav {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-family: var(--tipo-title);
  border-left: 1px solid var(--borde-rgba);
  border-right: 1px solid var(--borde-rgba);
}
@media screen and (max-width: 900px) {
  .header__nav {
    margin: 1em 0;
    display: none;
  }
  .header__nav.activo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__li {
  margin: 0 1em;
}
.header__a {
  border-bottom: 0.2em solid transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__a:hover {
  border-bottom: 0.2em solid var(--borde-rgba);
}
.header__a.activo {
  border-bottom: 0.2em solid var(--azul);
}
.header__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .header__rrss {
    display: none;
  }
  .header__rrss.activo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.header__rs {
  margin: 0 0.5em;
}
.header__svg {
  width: 0.75em;
  height: 0.75em;
}
.header__span {
  display: none;
}

.ppal {
  width: 100%;
  padding: 3.1rem 0;
  background: radial-gradient(49.74% 186.57% at 49.74% 46.1%, rgba(22, 92, 239, 0.42) 53.65%, rgba(29, 94, 232, 0) 100%);
}
.ppal .wrapper {
  max-width: 950px;
}
.ppal__h3 {
  font-family: var(--tipo-title);
  font-size: var(--size-h3);
  line-height: 0.85em;
  opacity: 0.6;
}
@media screen and (max-width: 900px) {
  .ppal__h3 {
    font-size: 1.5em;
  }
}
.ppal__h2 {
  font-family: var(--tipo-title);
  font-size: var(--size-h2);
  line-height: 0.85em;
}
@media screen and (max-width: 900px) {
  .ppal__h2 {
    margin: 0 0 0.3em;
    font-size: 2em;
  }
}
.ppal__iframe {
  width: 100%;
  min-height: 28vw;
}
@media screen and (max-width: 900px) {
  .ppal__iframe {
    min-height: 50vw;
  }
}
@media screen and (max-width: 480px) {
  .ppal__iframe {
    min-height: 60vw;
  }
}
.ppal__button {
  background: var(--azul);
  border-radius: 2em;
  margin: 1em auto 0;
  padding: 0.8rem 1.4em 0.7rem;
  color: var(--blanco);
  font-family: var(--size-title);
  font-size: 1em;
  text-transform: uppercase;
  cursor: pointer;
}

.extras {
  padding: 5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .extras {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.extras_col {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}
@media screen and (max-width: 900px) {
  .extras_col {
    width: 70%;
  }
}
.extras__h2 {
  margin: 0 0 1.75rem;
  font-family: var(--tipo-title);
  font-size: var(--size-title);
}
.extras__p {
  margin: 0 0 2.56rem;
}
.extras__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .extras__ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.extras__li {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}
@media screen and (max-width: 480px) {
  .extras__li {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 0 0 2rem;
  }
}
.extras__img {
  border-radius: 50%;
}
.extras__liga {
  border-radius: 1rem;
}

.footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__row {
  padding: 1.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__img {
  max-width: 13em;
}
.footer__dl {
  margin: 0 1em;
}
@media screen and (max-width: 900px) {
  .footer__dl {
    margin: 2em 0;
  }
}
.footer__dt {
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .footer__dd {
    margin: 0 0 0.7em;
  }
}
.footer__dd::before {
  content: "👉";
  margin: 0 0.5em 0 0;
}
.footer__autor {
  font-weight: 600;
}
.footer__ul {
  margin: 1em 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 900px) {
  .footer__ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.footer__li {
  margin: 0 1rem 0 0;
}
.footer__svg {
  width: 1.4rem;
  height: 1.4rem;
}
.footer__span {
  display: none;
}
.footer__extra {
  font-family: var(--tipo-footer);
}
.footer__extra.active {
  font-family: var(--tipo-principal);
}