@import 'reset/_variables' , 'reset/_mixins' , 'reset/_reset' , 'reset/_keyframes';

.wrapper {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    @include mv(480px) {
        padding: 0 2em;
    }
}


.header {

    width: 100%;
    padding: 1.4em 0;
    font-size: var(--size-title);

    @include mv() {
        padding: 1em 0;
    }

    .wrapper {
        @include flex (row, nowrap, space-between, center);

        @include mv() {
            flex-direction: column;
        }
    }

    &__h1 {}
    &__logo {
        max-width: 7em;
    }
    &__img {}

    &__nav {
        flex-basis: 50%;
        font-family: var(--tipo-title);
        border-left: 1px solid var(--borde-rgba);
        border-right: 1px solid var(--borde-rgba);

        @include mv() {
            margin: 1em 0;
            display: none;
            &.activo {
                display: flex;
            }
        }
    }
    &__ul {
        @include flex (row, nowrap, center, center);
    }
    &__li {
        margin: 0 1em;
    }
    &__a {
        border-bottom: .2em solid transparent;
        transition: all .5s ease;
        &:hover {
            border-bottom: .2em solid var(--borde-rgba);
        }
        &.activo {
            border-bottom: .2em solid var(--azul);
        }
    }
    
    &__rrss {
        @include flex (row, nowrap, center, center);

        @include mv() {
            display: none;
            &.activo {
                display: flex;
            }
        }
    }
    &__rs {
        margin: 0 .5em;
    }
    &__a {}
    &__svg {
        width: .75em;
        height: .75em;   
    }
    &__span {
        display: none;
    }
}


.main {}

.ppal {
    width: 100%;
    padding: 3.1rem 0;
    background: radial-gradient(49.74% 186.57% at 49.74% 46.1%, 
                                rgba(22, 92, 239, 0.42) 53.65%, 
                                rgba(29, 94, 232, 0) 100%);

    .wrapper {
        max-width: 950px;
    }

    &__h3 {
        font-family: var(--tipo-title);
        font-size: var(--size-h3);
        line-height: .85em;
        opacity: 0.6;

        @include mv () {
            font-size: 1.5em;
        }
        
    }
    &__h2 {
        font-family: var(--tipo-title);
        font-size: var(--size-h2);
        line-height: .85em;

        @include mv () {
            margin: 0 0 .3em;
            font-size: 2em;
        }
    }
    &__iframe {
        width: 100%;
        min-height: 28vw;

        @include mv () {
            min-height: 50vw;
        }
        @include mv (480px) {
            min-height: 60vw;
        }
    }
    &__button {
        background: var(--azul);
        border-radius: 2em;
        margin: 1em auto 0;
        padding: .8rem 1.4em .7rem;
        
        color: var(--blanco);
        font-family: var(--size-title);
        font-size: 1em;

        text-transform: uppercase;

        cursor: pointer;
    }
}

.extras {
    padding: 5rem 0;
    @include flex (row, nowrap, space-between, center);

    @include mv() {
        flex-direction: column;
    }

    &_col {
        flex-basis: 45%;

        @include mv() {
            width: 70%;
        }
    }
    &__h2 {
        margin: 0 0 1.75rem;
        font-family: var(--tipo-title);
        font-size: var(--size-title);
    }
    &__p {
        margin: 0 0 2.56rem;
    }
    &__ul {
        @include flex (row, nowrap, space-between, center);

        @include mv(480px) {
            flex-direction: column;
        }
    }
    &__li {
        flex-basis: 30%;

        @include mv(480px) {
            flex-basis: 70%;
            margin: 0 0 2rem;
        }
    }
    &__a {}
    &__img {
        // min-height: 10rem;
        border-radius: 50%;
    }
    &__liga {
        border-radius: 1rem;
    }
} 

.footer {

    .wrapper {
        @include flex (row, nowrap, space-between, center);

        @include mv() {
            flex-direction: column;
        }
    }

    &__row {
        padding: 1.2rem 0;
        @include flex (row, nowrap, center, center);
    }
    &__h2 {}
    &__a {}
    &__img {
        max-width: 13em;
    }
    &__dl {
        margin: 0 1em;

        @include mv() {
            margin: 2em 0;
        }
    }
    &__dt {
        font-weight: 600;
    }
    &__dd {

        @include mv(480px) {
            margin: 0 0 .7em;
        }

        &::before {
            content: '👉';
            margin: 0 .5em 0 0;
        }
    }

    &__autor {
        font-weight: 600;
    }
    &__title {}
    &__ul {
        margin: 1em 0 0;
        @include flex (row, nowrap, flex-start, center);

        @include mv() {
            justify-content: center;
        }
    }
    &__li {
        margin: 0 1rem 0 0;
    }
    &__a {}
    &__svg {
        width: 1.4rem;
        height: 1.4rem;
    }
    &__span {
        display: none;
    }

    &__extra {
        font-family: var(--tipo-footer);

        &.active {
            font-family: var(--tipo-principal);
        }
    }
}
