
@mixin flex ($direction , $corte , $justify , $align , $dis:flex) {
    display: $dis;
    flex-flow: $direction $corte;
    justify-content: $justify;
    align-items: $align;
}
@mixin grid ($columnas , $espacio) {
    display                 : grid;
    grid-template-columns   : repeat($columnas , 1fr );
}